<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Home</title>
</head>

<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quod ipsum est enim? Nam, repudiandae beatae!
        Nesciunt autem dolor amet a recusandae! Eius beatae doloremque voluptate expedita ducimus magnam fugiat.</p>
    <!-- Link to another HTML file -->
    <a href="/todo">Go to Another Page</a>

</body>

</html>